@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  border: 2px solid #fff;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  max-width: 660px;
  width: 100%;
  position: relative;
}

.title {
  font-family: 'League Spartan', sans-serif;
  font-size: 120px;
  user-select: none;
  cursor: pointer;
}
