.circles_wrapper {
  max-width: 800px;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: difference;
  position: absolute;
  inset: 0;
  margin: auto;
  box-shadow: 0 0 10px #fff;
}

.clickable {
  cursor: pointer;
}