* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  opacity: 1;
  width: 100%;
  min-height: 100vh;
  color: #000;
  background-color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}
